@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="row top-buffer" class="col-md-offset-3 col-md-6 col-md-offset-3">
    <p>
        Who doesn’t want to look and feel trendy every time there is an event that one must go to, or a party that our friends have thrown or to a date with the person of our dreams? EVERYONE DOES! But the problem is that we buy so many things for various occasions that are lying around that we feel a tiny bit guilty at getting new stuff for our special occasions.<br />
        We have all these gorgeous saris, dresses, kurtas and shirts hanging that have been worn just one time but still, the heart yearns for something new and trendy every time.<br />
        What if there was an outlet where one could dress up in something new every time there was an event or a special occasion without having to buy new clothes and outfits every time? An outlet where one can rent out clothes and get clothes on rent accordingly on need?<br />
    </p>

    <p>
        Welcome to <b>Trend Twice</b> your one stop solution for all your wardrobe problems! <b>Trend Twice</b> is an online store that helps you in getting new outfits for rent and renting out your barely used clothes!<br />
        It helps you and many others in getting the perfect outfit for their favorite and special events at just a faction of the cost! Be it menswear, women’s apparel, accessories or kids wear! Everything and anything is available at <b>Trend Twice</b><br />
    </p>

    <p>
        But that’s not all! Here at <b>Trend Twice</b> we help you find the right outfit through various channels! You can rent out clothes and outfits from not only the other renters out there but from various designer shops as well! <br />
        By this you’ll have an even wider closet to choose from and that too in just a fraction of the cost! You not only get the perfect outfit but get to save tons of money as well! HOW COOL IS THAT?!<br />
        Or if you fall in love with an outfit that you simply just cannot part ways with, then you can even buy that outfit! Our website has tons and tons of options you can choose from to get that addition to your closet! With reasonable prices, you can get your favorite outfit in your closet!<br />
    </p>

    <p>
        Sometimes we just HAVE to part ways with an outfit, be it that awful Christmas sweater that your aunt gave you, or those outdated pants that your grandma gave you! <br />
        With us, you can easily sell off your pieces of clothing and finally buy those boots that you were drooling at! It’s as simple as ABC!
    </p>

    <p>
        If you feel like making some extra money, you can post your clothes on our website and rent them out. With a simple process, you get to showcase your wonderful sense of fashion, get some extra money and be a fashionista, whilst staying at home! Interact with many other alike members and give them fashion advice! (Be a mini business person whilst you stay at home!)

        <b>Trend Twice</b> is an ardent believer of privacy and security and makes sure that every one of our members is provided with high security and privacy. With a state of the art system in place, [insert name of the organization] will do everything and anything for your security and privacy. You can trust [insert name of the organization] while choosing a whole new wardrobe for the next season!

        Just sit back, relax and think about the showstopper you’ll be at the next party! With us, you’ll never have those stressful days in front of the closet, deliberating what to wear. With us, you’ll be a rock star!
    </p>
</div>
